<style>
    .as{
        vertical-align: middle;
        font-size: 18px;
        font-weight: 700;
    }
</style>
<ion-view title="Add Reservation" hide-back-button="false">
    <ion-nav-buttons side="right">
      <button style="font-size:18px; min-height:10px; min-width:10px; margin-top:6px; margin-bottom:4px; margin-right:6px; border: none; padding-left:10px; padding-right:10px; color:#FF0038; background:transparent">
        Save
      </button>
    </ion-nav-buttons>
   <ion-content scroll="true">
        <form  style="height: 100%; background: #fff; background-size: cover;">
                        <div  style="height:20%; background:#F5F5F5; padding-top:5%; padding-left:5%; padding-bottom:5%; border-bottom: 1px solid #E3E2E5; border-top: 1px solid #E3E2E5">
                        </div>

                        <div class="list" style="margin-bottom:0">
                            <a class="item item-icon-right as" href="#" style="border-bottom:1px solid #E3E2E5; font-size: 17px; font-weight: 100;">
                                <i style="margin-right:35%">Menu</i>
                                Cut
                                <i class="icon ion-ios-arrow-right" style="color:#CBCBD0; font-size:25px"></i>
                            </a>

                            <a class="item item-icon-right as" href="#" style="border-bottom:1px solid #E3E2E5; font-size: 17px; font-weight: 100;">
                                 <i class="ion-ios-plus" style="font-size:25px; color:red; margin-left:20px"><span style="color:#4A90E2; font-family: sans-serif; font-size: 22px; padding-left: 10px; font-weight: 100;">Add</span></i>
                            </a>

                            <a class="item item-icon-right as" href="#" style="border-bottom:1px solid #E3E2E5; font-size: 17px; font-weight: 100;">
                                <i style="margin-right:35%">Client</i>
                                Ikeda Mariko
                                <i class="icon ion-ios-arrow-right" style="color:#CBCBD0; font-size:25px"></i>
                            </a>
                        </div>


                        <div  style="height:20%; background:#F5F5F5; padding-top:4%; padding-left:5%; padding-bottom:5%; border-bottom: 1px solid #E3E2E5; border-top: none">      
                        </div>

                        <div class="list" style="margin-bottom:0">
                            <a class="item item-icon-right as" href="#" style="border-bottom:1px solid #E3E2E5; font-size: 17px; font-weight: 100; padding-right:5px;">
                                <i style="margin-right:35%">Starts</i>
                                <input id="days" data-lang="en" data-years="1995-2200" data-sundayfirst="false" />
                                <!--March 5,2016 9:00 AM-->
                            </a>

                            <a class="item item-icon-right as" href="#" style="border-bottom:1px solid #E3E2E5; font-size: 17px; font-weight: 100; padding-right:5px;">
                                <i style="margin-right:35%">Ends</i>
                                March 5,2016 12:00 PM
                            </a>
                        </div>

                         <div  style="height:20%; background:#F5F5F5; padding-top:4%; padding-left:5%; padding-bottom:5%; border-bottom: 1px solid #E3E2E5; border-top: none">
                              HOLIDAY SETUP 
                        </div>
                        
                        <table style="width:100%;">
                            <tr>
                                <td style="width:1%; padding-left:10px; padding-top:10px; padding-bottom:10px">
                                    
                                </td>
                                <td class="as" style="border:1px solid #E3E2E5; border-left:none; border-right:none; border-top:none; font-weight:100">
                                   <ul class="list" style="margin-left:-15px">
                                    <li class="item item-toggle" style="font-size:18px; color:#000">
                                        Holliday 
                                        <label class="toggle toggle-energized">
                                        <input type="checkbox">
                                        <div class="track">
                                            <div class="handle"></div>
                                        </div>
                                        </label>
                                    </li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                        <div class="list" style="margin-bottom:0">
                            <a class="item item-icon-right as" href="#" style="border-bottom:1px solid #E3E2E5; font-size: 17px; font-weight: 100;">
                                <i style="margin-right:65%">Repeat</i>
                                never
                                <i class="icon ion-ios-arrow-right" style="color:#CBCBD0; font-size:25px"></i>
                            </a>
                        </div>
                </form>
</ion-content>
</ion-view>
