<style>
    .as {
        vertical-align: middle;
        font-size: 18px;
        font-weight: 700;
    }
    
    .glowing-border {
        border: 1px dashed #9ecaed;
    }
    
    input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #8E8E93;
    }
    
    .bottom-line {
        border: 1px solid #E3E2E5;
        border-top: none;
        border-right: none;
        border-left: none;
    }
    
    .row-title {
        font-size: 20px;
        font-family: sans-serif;
        font-weight: 100;
        /*padding-top:15px;*/
    }
    
    .row-data {
        color: #9B9B9B;
        font-weight: 100;
        padding-left: 5px;
        /*vertical-align: middle;*/
    }
</style>
<ion-view title="My Profile">
    <ion-content scroll="true">
        <div class="padding">
            <center>
                <img src="img/nana.jpeg" style="height:160px; width:120px; margin-top:10px">
            </center>
        </div>
        <div>
            <div class="row bottom-line as">
                <div class="col col-33">
                    <label class="row-title">Name</label>
                </div>
                <div class="col row-data">
                    <input type="text" placeholder="Your name" ng-model="user_profile.name" required>
                </div>
            </div>
            <div class="row bottom-line as">
                <div class="col col-33">
                    <label class="row-title">Name (spelling)</label>
                </div>
                <div class="col row-data">
                    <input type="text" placeholder="Your spelling name" ng-model="user_profile.nameSpelling">
                </div>
            </div>
            <div class="row bottom-line as">
                <div class="col col-33">
                    <label class="row-title">Phone</label>
                </div>
                <div class="col row-data">
                    <input type="text" placeholder="Your phone" ng-model="user_profile.mobile" required>
                </div>
            </div>
            <div class="row bottom-line as">
                <div class="col col-33">
                    <label class="row-title">Email</label>
                </div>
                <div class="col row-data">
                    <input type="text" readonly placeholder="Your email" ng-model="user_profile.email">
                </div>
            </div>
            <div class="row bottom-line as">
                <div class="col col-33">
                    <label class="row-title">Service</label>
                </div>
                <div class="col row-data">
                    <select ng-model='data.singleSelect' name="singleSelect"  style="color:#4C91E3; text-align:center; border:1px solid #E3E2E5; border-left:none; border-top:none; border-right:none; font-weight:100">
                        <option value='Hairdresser' >Hairdresser</option>
                        <option value='Nailist'>Nailist</option>
                        <option value='Barber'>Barber</option>
                        <option value='Beautician'>Beautician</option>
                        <option value='Eye lashes'>Eye lashes</option>
                    </select>
                </div>
            </div>
            <div class="row bottom-line as">
                <div class="col col-33">
                    <label class="row-title">Password</label>
                </div>
                <div class="col row-data">
                    <input type="password" ng-model="user_profile.password" required>
                </div>
            </div>
            <div class="row as">
                <div class="col">
                    <center>
                        <a ng-click='save_profile()' class="button waves-effect waves-light button-full button-assertive" style="margin-top:40px; padding-left:0px; padding-right:0px; width:40%;text-transform:none; color:#fff; font-size:22px; text-align:center; box-shadow:#FF0038; border:1px solid #929292; background:#929292; font-weight:100">
                                    Save
                                    </a>
                    </center>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>