<style>
    .as{
        vertical-align: middle;
        font-size: 18px;
        font-weight: 700;
    }
    .list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
    }
    .list .item.item-accordion.ng-hide {
    line-height: 0px;
    }
    .list .item.item-accordion.ng-hide-add,
    .list .item.item-accordion.ng-hide-remove {
    display: block !important;
    }

    * {
	font-family: Arial, sans;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    }

    h1 {
        margin: 1em 0;
        text-align: center;
    }

    #container {
        margin: 0 auto;
        width: 100%;  /* Ancho del contenedor */
    }

    #container input {
        height: 2.5em;
        visibility: hidden;
    }

    #container label {
        background: transparent;  /* Fondo de las pestañas */
        border: 1px solid #FF2C55;
        color: #FF2C55;  /* Color del texto de las pestañas */
        cursor: pointer;
        display: block;
        float: left;
        font-size: 1em;  /* Tamaño del texto de las pestañas */
        height: 2.5em;
        line-height: 2.5em;
        margin-right: 0;
        padding: 0 1.5em;
        text-align: center;
    }

    #container input:hover + label {
        background: #ddd;  /* Fondo de las pestañas al pasar el cursor por encima */
        color: #666;  /* Color del texto de las pestañas al pasar el cursor por encima */
    }

    #container input:checked + label {
        background: #FF2C55;  /* Fondo de las pestañas al presionar */
        color: #fff; /* Color de las pestañas al presionar */
        position: relative;
        z-index: 6;
        /*
        -webkit-transition: .1s;
        -moz-transition: .1s;
        -o-transition: .1s;
        -ms-transition: .1s;
        */
    }

    #content {
        background: transparent;  /* Fondo del contenido */
        border-radius: 0 .25em .25em .25em;
        min-height: 20em;  /* Alto del contenido */
        position: relative;
        width: 100%;
        z-index: 5;
    }

    #content #content-1 {
        opacity: 0;
        /*padding: 1.5em;
        position: absolute;*/
        z-index: -100;
        /*
        transition: all linear 0.1s;
        */
    }

    #content #content-2 {
        opacity: 0;
        /*padding: 1.5em;
        position: absolute;*/
        z-index: 100;
        /*
        transition: all linear 0.1s;
        */
    }

    #content-1 p {
        clear: both;
        margin-bottom: 1em;
    }
    #content-1 p.left img {
        float: left;
        margin-right: 1em;
    }
    #content-1 p.last {
        margin-bottom: 0;
    }

    #content-2 p {
        float: left;
        width: 48.5%;
    }
    #content-2 p.column-right {
        margin-left: 3%;
    }
    #content-2 p img {
        display: block;
        margin: 0 auto 1em auto;
    }
    #content-3 p,
    #content-3 ul {
        margin-bottom: 1em;
    }
    #content-3 ul {
        margin-left: 2em;
    }

    #container input#tab-1:checked ~ #content #content-1,
    #container input#tab-2:checked ~ #content #content-2,
    #container input#tab-3:checked ~ #content #content-3 {
        opacity: 1;
        z-index: 100;
    }

    /*input.visible {
    visibility: visible !important;
    }*/
</style>
<ion-view title="Schedule" hide-back-button="true">
   <ion-content scroll="true">
       
       <!--Contenedor-->
	<div id="container" style="margin-bottom:60px">
        <div class="row">
        <div class="col">
            <!--Pestaña 1 activa por defecto-->
            <input id="tab-1" type="radio" name="tab-group" ng-click="hide()" checked="checked" style="margin-bottom:20px"/>
            <label for="tab-1" style="margin-top:10px; width:110px; border-radius: .25em 0 0 .25em;">Calendar</label>
            <!--Pestaña 2 inactiva por defecto-->
            <input id="tab-2" type="radio" name="tab-group" ng-click="show()"/>
            <label for="tab-2" style="margin-top:10px; margin-left:0; width:110px; border-radius: 0 .25em .25em 0;">List</label>

            <a ng-href="#/app/add-reservation" style="color:#4A90E2; text-decoration: none;display: inline-flex; margin-left:-21px">
              <i class="ion-ios-plus" style="color:#FF2C55; font-size:23px">
                <span style="margin-left:1px">Add</span>
             </i>
            </a>
              <!--Contenido a mostrar/ocultar-->
            <div id="content">
                <!--Contenido de la Pestaña 1-->
                <div id="content-1" ng-show="calendar">
                         <div class="myCalendar" id="newcalendar"></div>
                         <div class="list" style="background:#fff; margin-top:10px; margin-bottom:0">
                            <a class="item item-icon-left item-icon-right" style="border:none; padding-left:65px; color:#3A3F34; background:#E2F5CE" href="#">
                                all-day <span style="color:#CF89DD">|</span> Tanaka's Birthday
                            </a>
                            <a class="item item-icon-left item-icon-right" style="border:none; padding-left:65px; color:#3A3F34; background:#E8C5F1" href="#">
                                all-day <span style="color:#CF89DD">|</span> @YSalon
                            </a>
                        </div>
                        <table style="width:100%;">
                            <tr>
                                <td style="width:15%; padding-left:10px; padding-top:10px; padding-bottom:10px;">
                                    9:00
                                </td>
                                <td colspan="2" class="as" style="border:1px solid #E3E2E5; border-left:none; border-right:none; border-top:none; font-weight:100">
                                </td>
                            </tr>
                            <tr>
                                <td style="width:10%; padding-left:10px; padding-top:10px; padding-bottom:10px">
                                    10:00
                                </td>
                                <td colspan="2" class="as" style="border:1px solid #E3E2E5; border-left:none; border-bottom:none; border-right:none; font-size:13px; font-weight:100; background:#E4B8EF">
                                &nbsp&nbsp 10:00-13:00<br/>
                                 &nbsp&nbsp Ikeda Mariko (Cut, Color)
                                </td>
                            </tr>
                            <tr>
                                <td style="width:10%; padding-left:10px; padding-top:10px; padding-bottom:10px">
                                    11:00
                                </td>
                                <td colspan="2" class="as" style="border:1px solid #E3E2E5; border-left:none; border-bottom:none; border-right:none; font-weight:100; background:#E4B8EF">
                                </td>
                            </tr>
                            <tr>
                                <td style="width:10%; padding-left:10px; padding-top:10px; padding-bottom:10px">
                                    12:00
                                </td>
                                <td colspan="2" class="as" style="border:1px solid #E3E2E5; border-left:none; border-bottom:none; border-right:none; font-weight:100; background:#E4B8EF">
                                </td>
                            </tr>
                            <tr>
                                <td style="width:10%; padding-left:10px; padding-top:10px; padding-bottom:10px">
                                    13:00
                                </td>
                                <td colspan="2" class="as" style="border:1px solid #E3E2E5; border-left:none; border-bottom:none; border-right:none; font-weight:100; background:#E4B8EF">
                                </td>
                            </tr>
                        </table>

                </div>
                <!--Contenido de la Pestaña 2-->
                <div id="content-2" ng-show="!calendar">
                    <div class="item item-divider" style="background:#F2F2F2; border:1px solid #E3E2E5; border-left:none; border-right:none; font-size:25px; line-height:30px">
                        July,29,2016
                    </div>
                    <div class="list" style="background:#fff; margin-top:10px; margin-bottom:0">
                            <a class="item item-icon-left item-icon-right" style="border:none; padding-left:65px; color:#3A3F34; background:#E2F5CE" href="#">
                                all-day <span style="color:#CF89DD">|</span> Tanaka's Birthday
                            </a>
                            <a class="item item-icon-left item-icon-right" style="border:none; padding-left:65px; color:#3A3F34; background:#E8C5F1" href="#">
                                all-day <span style="color:#CF89DD">|</span> @YSalon
                            </a>
                        </div>
                        <table style="width:100%;">
                            <tr>
                                <td style="width:15%; padding-left:10px; padding-top:10px; padding-bottom:10px;">
                                    9:00
                                </td>
                                <td colspan="2" class="as" style="border:1px solid #E3E2E5; border-left:none; border-right:none; border-top:none; font-weight:100">
                                </td>
                            </tr>
                            <tr>
                                <td style="width:10%; padding-left:10px; padding-top:10px; padding-bottom:10px">
                                    10:00
                                </td>
                                <td colspan="2" class="as" style="border:1px solid #E3E2E5; border-left:none; border-bottom:none; border-right:none; font-size:13px; font-weight:100; background:#E4B8EF">
                                &nbsp&nbsp 10:00-13:00<br/>
                                 &nbsp&nbsp Ikeda Mariko (Cut, Color)
                                </td>
                            </tr>
                            <tr>
                                <td style="width:10%; padding-left:10px; padding-top:10px; padding-bottom:10px">
                                    11:00
                                </td>
                                <td colspan="2" class="as" style="border:1px solid #E3E2E5; border-left:none; border-bottom:none; border-right:none; font-weight:100; background:#E4B8EF">
                                </td>
                            </tr>
                            <tr>
                                <td style="width:10%; padding-left:10px; padding-top:10px; padding-bottom:10px">
                                    12:00
                                </td>
                                <td colspan="2" class="as" style="border:1px solid #E3E2E5; border-left:none; border-bottom:none; border-right:none; font-weight:100; background:#E4B8EF">
                                </td>
                            </tr>
                            <tr>
                                <td style="width:10%; padding-left:10px; padding-top:10px; padding-bottom:10px">
                                    13:00
                                </td>
                                <td colspan="2" class="as" style="border:1px solid #E3E2E5; border-left:none; border-bottom:none; border-right:none; font-weight:100; background:#E4B8EF">
                                </td>
                            </tr>
                        </table>

                </div>
            </div>
        </div>
	</div>
	</div>
    <script>
         function hide() {
             console.log("abc");
                                    document.getElementById("content-2").style.visibility = "hidden";
                                    document.getElementById("content-1").style.visibility = "visible";
                                } 
    </script>
    </ion-content>
</ion-view>